<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101337609697-binmcjfhbt7rcr8js828akf1svcl50se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101337609697-binmcjfhbt7rcr8js828akf1svcl50se</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101337609697-746m8c51qce68l4h2l95cjlklit4a5mu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYf7VkBxDm8ZPADJgmMbQj9CbLxxIFFV0</string>
	<key>GCM_SENDER_ID</key>
	<string>101337609697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaitechcorp.travelcrew</string>
	<key>PROJECT_ID</key>
	<string>universal-code-135522</string>
	<key>STORAGE_BUCKET</key>
	<string>universal-code-135522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101337609697:ios:cf62b24de8512cd8d5cea0</string>
	<key>DATABASE_URL</key>
	<string>https://universal-code-135522.firebaseio.com</string>
</dict>
</plist>