rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users Collection
    match /users/{userId} {
      allow read, write: if belongsTo(userId) || request.auth.uid == 'NTjJZIWR5jXCVzgl7xIG39Iz0dG3';
      allow create: if request.auth != null;
    }

    // Public Users Collection
    match /publicProfile/{userId} {
      allow create: if request.auth != null && belongsTo(userId);
      allow read: if request.auth != null;
      allow update, delete: if request.auth != null && belongsTo(userId);
    }

    // Notifications Collection
    match /notifications/{userId} {
      allow create: if request.auth != null && belongsTo(userId);
      allow read: if request.auth != null;
      allow update, delete: if request.auth != null && belongsTo(userId);
    }
    
    // Settings Collection
    match /settings/{userId} {
      allow create: if request.auth != null && belongsTo(userId);
      allow read: if request.auth != null;
      allow update, delete: if request.auth != null && belongsTo(userId);
    }

    // Trips Collection
    match /trips/{tripId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && (resource.data.createdBy == request.auth.uid || request.auth.uid in resource.data.joinedUsers);
      allow update, delete: if request.auth != null && resource.data.createdBy == request.auth.uid;

      // Activities Subcollection
      match /activities/{activityId} {
        allow create: if request.auth != null && get(/databases/$(database)/documents/trips/$(tripId)).data.createdBy == request.auth.uid || request.auth.uid in get(/databases/$(database)/documents/trips/$(tripId)).data.joinedUsers;
        allow read: if request.auth != null && (get(/databases/$(database)/documents/trips/$(tripId)).data.createdBy == request.auth.uid || request.auth.uid in get(/databases/$(database)/documents/trips/$(tripId)).data.joinedUsers);
        allow update, delete: if request.auth != null && resource.data.createdBy == request.auth.uid;
      }

      // Expenses Subcollection
      match /expenses/{expenseId} {
         allow create: if request.auth != null && get(/databases/$(database)/documents/trips/$(tripId)).data.createdBy == request.auth.uid || request.auth.uid in get(/databases/$(database)/documents/trips/$(tripId)).data.joinedUsers;
        allow read: if request.auth != null && (get(/databases/$(database)/documents/trips/$(tripId)).data.createdBy == request.auth.uid || request.auth.uid in get(/databases/$(database)/documents/trips/$(tripId)).data.joinedUsers);
        allow update, delete: if request.auth != null && resource.data.createdBy == request.auth.uid;
      }
    }

    // Chat Rooms Collection
    match /chat/{roomId} {
      allow read, write: if request.auth != null && request.auth.uid in resource.data.usersIds;

      // Chat Messages Subcollection
      match /messages/{messageId} {
        allow read, write: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/chat_rooms/$(roomId)).data.usersIds;
      }
    }
    function belongsTo(userId) {
    	return request.auth.uid == userId
		}
  }
}